h3{ 
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color: aqua;
}

h6{
    color: rgba(119, 9, 9, 0.925);
}
body {
    background-color: rgb(248, 242, 237);
}

#header{ color: rgb(60, 226, 19);
    background-color: black;

}

.youdidit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
img{
    width: 50%;
    height: 40%;
    border-width: 15px;
    border-style: dashed;
    border-color: gold;

    display: block;
}

.navlinks {
    text-align: center;
    margin-left: 1800px;
    position: fixed;
}
h5  {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: gold;
    border-width: 20px;
    border-color: black;
    border-style: solid;

}